*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
   background : rgba(3, 37, 16, 0.962);
   color: #fff;  

}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 6px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #abd114;
    border-bottom: 4px solid #b5d71b;
    padding-bottom: 7px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button{
    border: 0;
    outline: 0;
    background-color: #333;
    background-color: rgb(122, 175, 113);
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
